.App {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   
}


.container {
  max-width: 1160px;
  padding: 0 16px;
  margin: 0 auto;
}


.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}



